
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="alert alert-success" *ngIf="statusCode == 200">
        Employee Saved Successfully...!
      </div>
      <div class="alert alert-info" *ngIf="statusCode == 201">
        Employee Updated Successfully...!
      </div>
      <div class="alert alert-danger" *ngIf="statusCode == 400">
        Employee Delete Successfully...!
      </div>
    </div>
  </div>
<div class="container login-container">
  <div class="row">
    <div class="col-md-6">


      <form [formGroup]="employeeform" (ngSubmit)="saveOrUpdate(employeeform)">
        <div class="row form-group">
          <div class="col-md-4"><label>ID:</label></div>
          <div class="col-md-6"><input type="number"  formControlName="empid" class="form-control"  [(ngModel)]="selectedProduct.empid">
          </div>
        </div>

        <div class="row form-group">
          <div class="col-md-4"> <label>Employee Name:</label></div>
          <div class="col-md-6"><input type="text" formControlName="name" class="form-control" [(ngModel)]="selectedProduct.name"></div>
        </div>
        <div class="row form-group">
          <div class="col-md-4"> <label>City:</label></div>
          <div class="col-md-6"><input type="text" formControlName="city" class="form-control"  [(ngModel)]="selectedProduct.city"></div>
        </div>
        <div class="row form-group">
          <div class="col-md-4"><label>Designation:</label></div>
          <div class="col-md-6"><input type="text"  formControlName="designation" class="form-control"  [(ngModel)]="selectedProduct.designation"></div>
        </div>

        <div class="row">
          <div class="col-md-4"*ngIf="isUpdate==false"><button  type="submit" class="btn btn-primary">Save</button></div>
      </div>
      <div class="row">
          <div class="col-md-4" *ngIf="isUpdate"><button type="button"  class="btn btn-secondary" (click)="update(employeeform)">Update</button></div>
      </div>

      </form>
    </div>
  </div>


<br>
<br>
<br>
<div class="row">
  <div class="col-md-6">
    <table class="table table-stripped">
      <thead>
        <th>ID:</th>
        <th>Name:</th>
        <th>City:</th>
        <th>Designation:</th>
        
      </thead>
     
      <tbody>
        <tr *ngFor="let empdetails of emp;let i=index" (click)="getproductdetail(empdetails._id)" >
          <td><a [routerLink]="['newemp',empdetails._id]" (click)="getselectedid(empdetails._id)">{{empdetails.empid}}</a></td>
          <td>{{empdetails.name | uppercase}}</td>
          <td>{{empdetails.city | uppercase}}</td>
          <td>{{empdetails.designation| uppercase}}</td>
        
        
          <td>
              <button type="button" class="btn btn-secondary" (click)="edit(empdetails)">Edit</button>
           </td>
           <td>
              <button class="btn btn-primary" (click)="delete(empdetails)">Delete</button>
            </td>
          </tr>
       
      </tbody>

    </table>
  </div>
</div>





    <router-outlet></router-outlet>







